extends layout

block content
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJl5SRC2kNpVfyyC3ihmd5haSN2tmdeqs")
  script(src="javascripts/client.js")  
  <div id="map" style="height:650px;width:1250px;"></div>
  
