#epicHeader {
    padding: 15px 0px 0px 15px;
    color: #7D7D7D;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 200%;
    box-sizing: border-box;
}

#version {
    padding: 15px 0px 0px 0px;
    color: #7D7D7D;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#tagLine {
    padding: 0px 0px 0px 15px;
    color: #7D7D7D;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 100%;
}

#epicFooter {
    color: #7D7D7D;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 75%;
}

#leavingButton {
    padding: 0px 0px 0px 0px;
    font-family: "Lucida Console", Monaco, monospace;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

#map {
    width:100%;
    height:75vh;
}

#spotList {
    padding: 0px 0px 0px 0px;
    width 100px;
    font-family:"Lucida Console", Monaco, monospace;
    font-size: 85%;
}

#deleteButton {
    font-family: "Lucida Console", Monaco, monospace;
    width:100px;
    height:25px;
    box-sizing: border-box;
}

#spacer{
    padding: 15px 0px 10px 0px;
}